<!-- @format -->

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" *ngIf="showTabHomeFeature">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tasks">
      <ion-icon name="rocket-outline"></ion-icon>
      <ion-label>My Task</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="categories">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Categories</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>